<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lists, Dictionaries and Tuples

_Author: Tucker Allen | DSI-NYC_

---

1. [Lists](#Lists)
2. [Dictionaries](#Dictionaries)
3. [Tuples](#Tuples)
4. [Operations](#Operations)

## Lesson Objectives:
- Describe the differences between lists, dictionaries and tuples
- Describe when it is appropriate to use lists v. dictionaries v. tuples
- Be able to implement and manipulate lists, dictionaries and tuples

<a id="Lists"></a>
## 1. Lists: [ ]

In [1]:
my_list = [5, 3, 1, 6, 7]

In [2]:
my_list

[5, 3, 1, 6, 7]

### Python implements 0 Based-Indexing!

In [3]:
my_list[0]

5

In [4]:
my_list[1]

3

In [5]:
type(my_list)

list

### You can store ANY datatypes into a "list" datatype

In [7]:
my_list = ['a', 'b', 4, 5, True]

In [8]:
my_list

['a', 'b', 4, 5, True]

In [9]:
my_list[1]

'b'

In [10]:
my_list[4]

True

### Python "list" datatypes support 'reverse' indexing by using negative index numbers

In [11]:
my_list[-3]

4

### Would a "list" datatype be useful for the following example? Why or Why Not?

In [12]:
employee_1 = ['Mary McNotReal', '123 Fake Street', 'Accounting']

In [13]:
employee_1

['Mary McNotReal', '123 Fake Street', 'Accounting']

In [14]:
employee_1[0]

'Mary McNotReal'

<a id="Dictionaries"></a>
## 2. Dictionaries: { }

### Useful for specifying the indices

In [15]:
employee_1 = {0:'Mary McNotReal', 1:'123 Fake Street', 2:'Accounting'}

In [16]:
employee_1[1]

'123 Fake Street'

In [17]:
employee_1.get(4, "Nope")

'Nope'

### Let's use the dictionary datatype to make the entries more self-explanatory

In [18]:
employee_1 = {'Name':'Mary McNotReal', 'Address':'123 Fake Street', 'Department':'Accounting'}

In [19]:
employee_1[0]

KeyError: 0

In [20]:
employee_1['Name']

'Mary McNotReal'

In [23]:
employee_1['Alias']

KeyError: 'Alias'

In [24]:
employee_1.get('Alias', "Alias does not exist")

'Alias does not exist'

In [27]:
a = employee_1.keys

In [28]:
a()

dict_keys(['Name', 'Address', 'Department'])

In [29]:
employee_1.values()

dict_values(['Mary McNotReal', '123 Fake Street', 'Accounting'])

### Some useful methods exist for dictionary type objects
- Explain the .TAB see values and such

In [ ]:
employee_1.values()

In [ ]:
employee_1.keys()

In [ ]:
employee_1['Name'] = 'Mary McNewName'

In [ ]:
employee_1

In [ ]:
employee_1['E-mail'] = 'mary@company.com'

In [ ]:
employee_1

## Can have a LIST of DICTIONARIES (Or a list of lists, of lists, of lists, of lists...)

In [30]:
employee_2 = {'Name':'New Guy', 'Address':'The Moon', 'Department':'Marketing', 'Likes': 'Mac n Cheese'}

In [31]:
employee_list = [employee_1, employee_2]

In [32]:
employee_list

[{'Address': '123 Fake Street',
  'Department': 'Accounting',
  'Name': 'Mary McNotReal'},
 {'Address': 'The Moon',
  'Department': 'Marketing',
  'Likes': 'Mac n Cheese',
  'Name': 'New Guy'}]

In [34]:
employee_list[0]['Name']

'Mary McNotReal'

In [ ]:
type(employee_list)

In [ ]:
type(employee_list[0])

### Practice: In one line, calling employee_list, return the 'Name' of employee_1

In [ ]:
employee_list[0]['Name']

<a id="Tuples"></a>
## 3. Tuples: ( ) 
- (Like lists, but 'immutable')

In [ ]:
my_tuple = (5, 6, "a", False, [1,3])

In [ ]:
my_tuple[0]

In [ ]:
type(my_tuple)

In [ ]:
my_tuple[0] = 'a'

<a id="Operations"></a>
## List/Dictionary/Tuple Operations

### Generally don't behave the way you might expect them to

In [35]:
my_list_1 = [1, 2, 3]
my_list_2 = [4, 5, 6]

### What will the following produce?

In [36]:
my_list_1 + my_list_2

[1, 2, 3, 4, 5, 6]

In [37]:
my_list_1 * my_list_2

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
my_list_1 / my_list_2

## Excercise

- Explore the powers of .(TAB)!

#### Add the number 5 to the END of my_list

In [ ]:
my_list.